.menu-nav{ 
    width: 75%;
    height: 105px;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 300;
    display: flex;
    padding-left: 25px;  
    letter-spacing: 3px; 
    /* background-color: rgb(109, 9, 9); */
    
}

.area-item{
    display: flex;
    padding: 10px 20px;
}

a{
    color: #FFF;
}

a:hover{
    color: var(--base-color)
}

.icone{
   font-size: 18px;
   margin-right: 8px;
   color: var(--base-color)
}

.item{
    margin-right: 15px;
}
